.catalog {
    min-height: 1103px;
    &__tabs {
        margin-top: 46px;
        list-style-type: none;
        display: flex;
        justify-content: center;
    }
    &__tab {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 223px;
        height: 52px;
        border: 2px solid #d0d0d0;
        transform: skew(-25deg);
        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase;
        color: #6b6b6b;
        cursor: pointer;
        margin: 0 5px 57px;
        transition: 0.5s all;
        &:hover {
            box-shadow: 3px 3px 20px $main-color;
            border: none;
        }
        &_active {
            background: $main-color;
            color: #fff;
            border: none;
        }
        div {
            transform: skew(25deg);
        }
    }
    &__content {
        flex-wrap: wrap;
        display: none;
        &_active {
            display: flex;
        }
    }
    &-item {
        overflow: hidden;
        padding: 20px 26px 21px;
        width: 300px;
        min-height: 442px;
        border: 2px solid #e8e8e8;
        margin: 0 8px;
        margin-bottom: 19px;
        &__img {
            max-width: 100%;
            height: 200px;
            display: block;
            margin: 0 auto;
        }
        &__subtitle {
            margin-top: 15px;
            font-weight: 700;
            font-size: 16px;
            text-align: center;
            color: #0d0d0d;
        }
        &__descr {
            margin-top: 15px;
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            color: #0d0d0d;
        }
        &__link {
            font-weight: 500;
            font-size: 14px;
            display: block;
            text-align: center;
            margin-top: 10px;
            text-decoration-line: underline;
            color: $main-color;
            text-transform: uppercase;
            &:hover {
                color: $main-color;
            }
        }
        hr {
            background-color: #e8e8e8;
            margin-top: 19px;
            margin-bottom: 21px;
            border-bottom: none;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-price {
            font-weight: 300;
            font-size: 14px;
            text-decoration-line: line-through;
            color: #555555;
        }
        &__new-price {
            font-weight: 700;
            font-size: 20px;
            color: #050505;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
        &__content {
            width: 50%;
            margin-right: 0px;
            transform: translateX(calc(-100% - 26px));
            transition: 0.5s all;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__list {
            position: relative;
            width: 50%;
            transform: translateX(0%);
            padding-right: 20px;
            transition: 0.5s all;
            padding-left: 19px;
            margin-bottom: 0;
            list-style-type: none;
            &_active {
                transform: translateX(-100%);
                margin-left: 20px;
            }
            li {
                margin-top: 5px;
                font-weight: 300;
                font-size: 14px;
                line-height: 150%;
                color: #555555;
                position: relative;
                &:after {
                    position: absolute;
                    content: "";
                    display: block;
                    left: -14px;
                    top: 7px;
                    width: 5px;
                    height: 5px;
                    background: $main-color;
                }
            }
        }
        &__back {
            position: absolute;
            left: 50%;
            transform: translateX(calc(-50% - 19px));
            bottom: 41px;
            font-weight: 500;
            font-size: 14px;
            display: block;
            text-align: center;
            text-decoration-line: underline;
            color: $main-color;
            text-transform: uppercase;
            &:hover {
                color: $main-color;
            }
        }
    }
}
