@media (max-width: 1200px) {
}
@media (max-width: 991px) {
    .container {
        width: 750px;
    }
    .title_left {
        font-size: 30px;
        line-height: 40px;
    }
    .consultation {
        &__descr {
            font-size: 18px;
        }
    }
    .carousel {
        padding: 75px 0;
        &__inner {
            width: 550px;
            img {
                width: 100%;
            }
        }
        .slick-dots {
            bottom: -45px;
        }
    }
    .catalog__content_active {
        justify-content: space-around;
    }
}
@media (max-width: 767px) {
    .container {
        width: 520px;
    }
    .header {
        &__logo {
            width: 170px;
        }
        &__official {
            font-size: 10px;
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 16px;
        }
    }
    .btn {
        width: 130px;
        font-size: 11px;
        &_main {
            width: 200px;
            font-size: 13px;
        }
        &_mini {
            width: 100px;
        }
    }
    .promo {
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 22px;
        }
        &__icons {
            width: 350px;
        }
        &__icon {
            font-size: 12px;
        }
        &__descr {
            font-size: 13px;
        }
    }
    .title {
        font-size: 25px;
    }
    .advantages {
        padding: 50px 0 47px 0;
        &__subtitle {
            font-size: 15px;
        }
    }
    .title_left {
        line-height: 35px;
        font-size: 23px;
    }
    .consultation {
        &__descr {
            font-size: 16px;
        }
    }
    .btn_submit {
        width: 100%;
        font-size: 16px;
    }
    .carousel {
        height: 352px;
        padding: 50px 0;
        &__inner {
            width: 425px;
            img {
                width: 100%;
            }
        }
        .slick-dots {
            bottom: 20px;
        }
    }
    .catalog {
        &-item {
            width: 240px;
            &__new-price {
                font-size: 16px;
            }
            &__list {
                padding-left: 15px;
                li {
                    font-size: 12px;
                }
            }
        }
    }
}
@media (max-width: 575px) {
    .container {
        width: 300px;
    }
    .header {
        &__logo {
            width: 140px;
        }
        &__official {
            display: none;
        }
        &__phone {
            font-size: 14px;
        }
    }
    .btn {
        width: 115px;
        font-size: 9px;
        &_main {
            width: 200px;
            font-size: 13px;
        }
    }
    .promo {
        &__header {
            font-size: 25px;
            line-height: 25px;
        }
        &__subheader {
            font-size: 14px;
            line-height: 14px;
        }
        &__icons {
            width: 240px;
        }
        &__icon {
            font-size: 9px;
        }
        &__descr {
            font-size: 13px;
        }
    }
    .title {
        font-size: 25px;
        &_left {
            font-size: 13px;
            line-height: 19px;
        }
    }
    .advantages {
        min-height: 190px;
        padding: 50px 0 47px 0;
        &__wrapper {
            margin-top: 25px;
        }
        &__subtitle {
            font-size: 12px;
            text-align: center;
        }
        &__descr {
            display: none;
        }
    }
    .consultation {
        min-height: 300px;
        padding: 50px 0 58px;
        &__descr {
            font-size: 12px;
            line-height: 18px;
        }
    }
    .btn {
        &_submit {
            width: 100%;
            font-size: 15px;
        }
        &_mini {
            width: 50%;
        }
    }
    .carousel {
        padding: 50px 0;
        &__inner {
            height: 250px;
            width: 305px;
            img {
                width: 100%;
            }
        }
        .slick-dots {
            bottom: -20px;
        }
    }
    .catalog {
        &__tabs {
            display: block;
        }
        &__tab {
            margin: 0 5px 10px;
        }
        &-item {
            &__new-price {
                font-size: 15px;
            }
        }
    }
    .feed {
        &__item {
            flex-direction: column;
        }
        &__img {
            margin-right: 0;
        }
        &__wrapper {
            margin-top: 30px;
            text-align: center;
        }
    }
    .footer {
        &__info {
            height: 200px;
            width: 100%;
            padding: 20px 10px 20px;
        }
        &__addr {
            font-size: 16px;
        }
    }
}
